<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://fonts.googleapis.com/css?family=Kalam|Lato" rel="stylesheet">
	<title>Pokemon Names</title>

</head>
<body>
<h1>Pokemon Names</h1>
	<ul>
	<%for(let i = 0; i < pokemon.length; i++) {%>
		<li class="pokemon"><span class="name">Name:</span> <%=pokemon[i].name%>
	
			<a href='pokemon/<%=i%>'>Pokemon's page</a>
		<%}%></li>
	</ul>

</body>
</html>